
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}
.data-title {
    font-weight: bold;
  }
.container {
    max-width: 900px;
    margin-top: 3%;
    padding: 40px 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.dropdowns {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

select {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-bar {
    position: relative;
}

input {
    font-size: 16px;
    padding: 5px 10px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    top:15%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
  }
  
  .card-table {
font-size: small;
  } 
  
  .card-header {
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    display: flex;

  }
  
  .card-info {
    padding: 5px;
  }
  
  .info-item {
    margin-bottom: 5px;
  }
  
  .data-title {
    font-weight: bold;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  th,
  td {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  h2 {
    margin: 0;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
  }