<div class="container">
    <h1>Blockchain Explorer Tutorial</h1>
    <h2>Introduction</h2>
    <p>
      This tutorial will guide you through the basics of navigating blockchain explorers. Blockchain explorers are search engines that allow you to explore the details of transactions, addresses, and blocks on a blockchain network.
    </p>
  
    <h2>Steps to Navigate Blockchain Explorers</h2>
    <ol>
      <li>
        <h3>Choose a Blockchain Explorer</h3>
        <ul>
          <li>Ethereum</li>
          <li>Avalanche</li>
          <li>Fantom</li>
          <li>Polygon</li>
          <li>Binance Smart Chain</li>
          <li>Bitcoin</li>
          <li>Bitcoin Cash</li>
          <li>Litecoin</li>
          <li>Dogecoin</li>
          <li>Zcash</li>
          <li>eCash</li>
          <li>Groestlcoin</li>
          <li>Ripple</li>
        </ul>
      </li>
  
      <li>
        <h3>Search for Transactions, Addresses, or Blocks</h3>
        <p>
          Enter a transaction ID, wallet address, or block number/hash in the search bar and click "Search" or press Enter. The explorer will display detailed information about the queried item.</p>
        <p>
          Try a transaction ID on the Ethereum network: 0x0bf68b65f4ceff4e7c69b2c09adb7485044402b2228de34e3068f160df49ccb4
        </p>
        <p>
          Try a block on the Ethereum network: 445345
        </p>
        <p>
          Try an address on the ethereum network: 0xea4da2a6cfd871409ca4aa5c2f72fe62f6fb755d

        </p>
      </li>
  
      <li>
        <h3>Understand the Data</h3>
        <p>
          Learn to interpret the data provided by the explorer, such as:
          <ul>
            <li>Transaction details (e.g., input/output addresses, amounts, fees, and confirmations)</li>
            <li>Address details (e.g., balance, transactions, and tokens)</li>
            <li>Block details (e.g., timestamp, miner, and transactions included)</li>
          </ul>

      </li>
    </ol>
  </div>