

.card {
  width: 675px;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.card .card-header {
  background-color: #F8F8F8;
  border-bottom: 1px solid #b9b9b9;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}


.card .card-header .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: #ECECEC;
  margin-right: 12px;
}

.card .card-header .desc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card .card-header .desc label {
  font-weight: 600;
  font-size: 14px;
  color: #171718;
}

.card .card-header .desc span {
  font-weight: 600;
  font-size: 12px;
  color: #72767c;
  margin-top: -8px;
}

  
  .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 5px;
    padding: 10px 20px 10px 20px;
  }
  
  .categories button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 15px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    -webkit-box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
            box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 20px;
    font-weight: 600;
    color: #171718;
    -webkit-transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
    transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .categories button:hover {
    -webkit-transform: scale(1.05) translateY(-3px);
        -ms-transform: scale(1.05) translateY(-3px);
            transform: scale(1.05) translateY(-3px);
  background-color: #919191;
  }
  
  .card hr{
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #b9b9b9;
    border-top: 1px solid rgba(0,0,0,.1);
  }
  
  .transactiondata hr {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #b9b9b9;
  }
  
  .transactiondata p {
    padding: 0 20px;
  }
  
.favourite {
  width:fit-content;
  height:fit-content;
  color: #f7df09;
}

  .transactiondata{
    max-height: 60vh;
    overflow-y: auto;
  }
  
  .transactiondata .entry {
    display: grid;
    grid-template-columns: 40px 2fr 40px;
    gap: 12px;
    padding: 5px 20px;
    max-height: 300px; /* Set a fixed height for the scrollable section */
    overflow-y: auto; /* Enable vertical scrolling within the section */
  }
  
  .transactiondata .entry:hover {
    background-color: #F5F8FE;
  }
  
  
  
  .transactiondata .transactiondata-list .entry:hover label {
    color: #585d66;
  }
  
  .transactiondata .transactiondata-list .entry:hover span {
    color: #585d66;
  }
  
  .transactiondata .transactiondata-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            
  }
  
  .transactiondata .entry .icon {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ECECEC;
    border-radius: 7px;
    -webkit-transition: all 0.2s cubic-bezier(0.15, 0.83, 0.66, 1);
    transition: all 0.2s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .transactiondata .entry .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .transactiondata .entry .desc label {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #171718;
  }
  
  .transactiondata .entry .desc span {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #72767c;
  }
  
  .transactiondata .entry .badge {
    width: 40px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    border: 1px solid #08581d0e;
    border-radius: 7px;
    line-height: 13px;
    text-align: center;
    color: #161616;
  }
  
  .card-footer {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
    margin-top: 10px;
    padding: 0 7px;
    background: #F8F8F8;
  }
  
  .card .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
  
  .card .action p {
    padding-left: 5px;
  }
  
  .card-footer button {
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 6px;
    border: 0;
    background: #ECECEC;
    outline: none;
  }
  
